:root {
  --white-5: #ffffff0d;
  --white-20: #fff3;

  --base-color: rgb(255, 255, 255);

  --mono-hue: var(--theme-hue);
  --mono-saturation: 10%;

  --mono-shade4: hsl(var(--mono-hue), var(--mono-saturation), 10%);

  --theme-hue       : 208;
  --theme-saturation: 100%;
  --theme-lightness : 63%;

  --base-background-color: rgb(13, 15, 21);
  --base-background-color-trans: rgba(13, 15, 21, 0);
  --base-font-family: 'Roboto',sans-serif;

  --code-font-family: 'Martian Mono',monospace;
  --code-font-weight: 300;
  --code-block-border-radius: 0;
  --code-theme-background: var(--white-5);
  --code-inline-background: var(--white-20);

  --blockquote-background: var(--white-5);
  --blockquote-border-width: 0 0 0 2px;

  --heading-font-family: 'Roboto Condensed',sans-serif;
  --heading-h1-font-weight: 700;
  --heading-h2-font-weight: 700;
  --heading-h3-font-weight: 700;
  --heading-h4-font-weight: 700;
  --heading-h5-font-weight: 700;

  --heading-h2-border-color: var(--white-20);
  --heading-h2-border-width: 0 0 2px;

  --link-color: var(--theme-color);

  --sidebar-background: var(--white-5);
  --sidebar-border-color: var(--white-20);
  --sidebar-border-width: 0 2px 0 0;
  --sidebar-width: 20rem;
  --sidebar-nav-link-before-content-l3: "";

  --table-row-even-background: var(--base-background-color);

  --selection-color: rgba(255, 255, 255, 0.3);

  --search-input-background-color: var(--white-5);
  --search-input-border-color: var(--white-20);
  --search-input-border-width: 2px 0;
}

.app-name-link img {
  width: 90%
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 390px;
  height: 300px;
  background: url('/assets/pattern.svg');
}

@media (max-width: 768px) {
  .content::before {
    display: none;
  }
}

@media (min-width: 1200px) {
  :root {
    --base-font-size: 18px;
    --code-font-size: 14px;
  }
}

@media (min-width: 1400px) {
  :root {
    --base-font-size: 20px;
    --code-font-size: 16px;
  }
}

.markdown-section p {
  overflow-wrap: break-word;
}

.markdown-section pre[data-lang] {
  border: 2px solid var(--white-20);
}
.markdown-section pre[data-lang]::after {
  display: none;
}

.copy-code {
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  background: none;
  background-image: url(/assets/copy.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.copy-code:hover {
  opacity: 1;
}
.copy-code::before {
  content: "";
  position: absolute;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.copy-code-success {
  background-image: url(/assets/check.svg);
  opacity: 1;
}
.copy-code-success::before {
  content: "Copied!";
  color: #77b33a;
}
.copy-code-error {
  background-image: url(/assets/cross.svg);
  opacity: 1;
}
.copy-code-error::before {
  content: "Can't copy";
  color: #e65855;
}
.copy-code-success::before,
.copy-code-error::before {
  padding-right: 8px;
  transform: translate3d(-100%, -50%, 0);
  transition: transform .2s;
}

.loading {
  margin: 150px auto 0;
  position: relative;
  text-align: center;
}

.loading__spinner {
  --spinner-size: 50px;

  box-sizing: border-box;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sidebar-nav li {
  font-weight: bold;
}

.sidebar-nav li>a:only-child {
  padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
}

.badge img,
.sidebar-nav li > a > img {
  display: inline-block;
  position: relative;
  height: 1em;
  top: .125em;
}

.badge img:hover {
  filter: brightness(1.2);
}

h1 .badge img, h3 .badge img, h3 .badge img {
  height: .8em;
}

h1 .badge img, h3 .badge img, h3 .badge img, h4 .badge img, h5 .badge img {
  margin-left: .1em;
}

i.icon::after {
  content: "";
  display: inline-block;
  position: relative;
  top: .125em;
  width: 1em;
  height: 1em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
i.icon-note::after {
  background-image: url(/assets/note.svg);
}
i.icon-warn::after {
  background-image: url(/assets/warning.svg);
}
i.icon-check::after {
  background-image: url(/assets/check.svg);
}
i.icon-cross::after {
  background-image: url(/assets/cross.svg);
}

.github-edit-btn {
  display: block;
  position: fixed;
  bottom: 0;
  right: 1em;
  background: linear-gradient(0deg, #1d40b2, #1680d6);
  color: var(--base-color) !important;
  text-decoration: none !important;
  font-size: .8em;
  padding: 0.3em 1em;
  opacity: 0.75;
  z-index: 999;
}

.github-edit-btn:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .github-edit-btn {
      display: none;
  }
}

.links-menu {
  width: 100%;
  text-align: center;
}

.links-menu a {
  margin: 0 .5em;
}

.links-menu a img {
  height: 1em;
}

.sidebar-version-select {
  position: relative;
  margin: var(--sidebar-nav-margin);
  width: 100%;
}

.sidebar-version-select > select {
  appearance: none;
  cursor: pointer;
  margin: 0;
  width: 100%;
  background: var(--white-5);
  border: 2px solid var(--white-20);
  border-radius: 0;
  padding: 0.35em 0.7em;
  color: var(--base-color);
  font-family: var(--base-font-family);
}

.sidebar-version-select>select:hover {
  border: 2px solid var(--theme-color);
}

.sidebar-version-select::after {
  content: "▼";
  color: var(--base-color);
  position: absolute;
  top: 50%;
  right: 1em;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  transform: translateY(-8px);
  pointer-events: none;
}
