@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --mono-hue: var(--theme-hue);
  --mono-saturation: 10%;

  --mono-shade4: hsl(var(--mono-hue), var(--mono-saturation), 10%);

  --theme-hue       : 208;
  --theme-saturation: 80.3%;
  --theme-lightness : 45.9%;

  --base-background-color: rgb(13, 15, 21);
  --base-background-color-trans: rgba(13, 15, 21, 0);
  --base-font-family: "Roboto",sans-serif;

  --code-inline-background: var(--mono-tint1);

  --link-color: var(--theme-color);

  --sidebar-background: var(--mono-shade4);
  --sidebar-border-color: hsla(0,0%,100%,.4);
}

.content {
  background: linear-gradient(
    180deg,
    var(--base-background-color-trans),
    var(--base-background-color) 500px
  ), url('/assets/pattern.svg');
  background-attachment: fixed;
}

.loading {
  margin: 150px auto 0;
  position: relative;
  text-align: center;
}

.loading__spinner {
  --spinner-size: 50px;

  box-sizing: border-box;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
