:root {
  --base-color: rgb(255, 255, 255);

  --mono-hue: var(--theme-hue);
  --mono-saturation: 10%;

  --mono-shade4: hsl(var(--mono-hue), var(--mono-saturation), 10%);

  --theme-hue       : 208;
  --theme-saturation: 80.3%;
  --theme-lightness : 45.9%;

  --base-background-color: rgb(13, 15, 21);
  --base-background-color-trans: rgba(13, 15, 21, 0);
  --base-font-family: 'Roboto',sans-serif;

  --code-font-family: 'Martian Mono',monospace;
  --code-font-weight: 300;
  --code-inline-background: var(--mono-tint1);

  --heading-font-family: 'Roboto Condensed',sans-serif;
  --heading-h1-font-weight: 700;
  --heading-h2-font-weight: 700;
  --heading-h3-font-weight: 700;
  --heading-h4-font-weight: 700;
  --heading-h5-font-weight: 700;

  --link-color: var(--theme-color);

  --sidebar-background: var(--mono-shade4);
  --sidebar-border-color: hsla(0,0%,100%,.4);

  --copycode-background: var(--link-color);

  --table-row-even-background: var(--base-background-color);

  --selection-color: rgba(255, 255, 255, 0.3);

  --sidebar-width: 20rem;
  --sidebar-nav-link-before-content-l3: "";
}

.app-name-link img {
  width: 90%
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    180deg,
    var(--base-background-color-trans),
    var(--base-background-color) 500px
  ), url('/assets/pattern.svg');
}

@media (min-width: 1200px) {
  :root {
    --base-font-size: 18px;
    --code-font-size: 14px;
  }
}

@media (min-width: 1400px) {
  :root {
    --base-font-size: 20px;
    --code-font-size: 16px;
  }
}

.markdown-section p {
  overflow-wrap: break-word;
}

.loading {
  margin: 150px auto 0;
  position: relative;
  text-align: center;
}

.loading__spinner {
  --spinner-size: 50px;

  box-sizing: border-box;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sidebar-nav li {
  font-weight: bold;
}

.sidebar-nav li>a:only-child {
  padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
}

.sidebar-nav li > a > img {
  height: 1em;
}

.badge img {
  height: 1em;
  vertical-align: middle;
  margin-top: -0.25em;
}

.badge img:hover {
  filter: brightness(1.5);
}

h1 .badge img, h3 .badge img, h3 .badge img, h4 .badge img, h5 .badge img {
  height: 0.8em;
  margin-top: -0.20em;
  margin-left: .1em;
}

.github-edit-btn {
  display: block;
  position: fixed;
  bottom: 0;
  right: 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--link-color);
  color: var(--base-color) !important;
  text-decoration: none !important;
  font-size: .8em;
  padding: 0.2em 1em;
  opacity: 0.75;
  z-index: 999;
}

.github-edit-btn:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .github-edit-btn {
      display: none;
  }
}

.github-corner {
  position: fixed;
}

.links-menu {
  width: 100%;
  text-align: center;
}

.links-menu a {
  margin: 0 .5em;
}

.links-menu a img {
  height: 1em;
}

.sidebar-version-select {
  width: 100%;
  margin: var(--sidebar-nav-margin);
}
